.btn {
  background-color: $brightWhite;
  color: $scaryBlack;
  text-decoration: none;
  padding: 16px;
  display: flex;
  min-width: 50px;
  width: 268px;
  border-radius: 4px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font-size: 1.75rem;
  justify-content: center;
  align-items: center;
  margin: 0px;
  transition: .3s ease-in-out;
  line-height: 1;
  box-sizing: inherit;
  cursor: pointer;
  
  &__number-sign {
    margin-right: 16px;
    width: 2.5ren;
    transition: transform .3s ease-in-out;
    max-height: 70px;
  }
  
  &__click-me {
    font-family: "Signika", sans-serif;
    font-weight: 300;
    font-size: 28px;
  }
  
  &--blue {
    background-color: $mainBlue;
    color: $brightWhite;
  }


}