.hero-bot {
  height: 400px;
  min-width: 320px;
  margin: 1rem;
  background: center;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  
  &__bot-head {
    position: relative;
    top: 12%;
    width: 50%;
    max-width: 220px;
    height: auto;
    animation: robotHead 14s linear infinite;
  }
  
 }