.hero-page {
  background: $babyBlue;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: center;
  padding: 1rem;
  min-height: calc(100vh - 12rem);
  
  &__container {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
    width: 100%;
    max-width: 1168px;
  }
  
  &__description {
    min-width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
  }
  
  &__title {
    margin-top: 0;
    font-size: 2.4rem;
    letter-spacing: -.1875rem;
    line-height: 1;
    color: $scaryBlack;
    font-weight: 300;
    margin-bottom: 2rem;
    
    strong {
      font-weight: 600;
    }
    
    @mixin atSmall {
      font-size: 6rem;
    }
  }
  
  &__slogan {
    max-width: 500px;
    color: $brightWhite;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 1.25;
    margin: 0 0 2rem 0;
    
    @mixin atSmall {
      font-size: 2.1rem;
    }
  }
}
