.page-title {
  font-size: 1.8rem;
  font-family: 'Signika', cursive;
  letter-spacing: -0.125rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
  display: block;
  width: auto;
  font-weight: lighter;
  
  @mixin atSmall {
    font-size: 3.1rem;
  }
}