.row {
  
 @mixin clearfix;
  
  &--gutters {
    margin-right: -65px;
  }
  
  &--gutters > div {
    padding-right: 65px;
  }
  
  &--container {
    display: table;
    width: 100%;
  }
  
  &__column {
    float: left;
    width: 33.3%;
  }
  
  @mixin atMedium {
    &__medium-left-half {
    float: left;
    width: 50%;
  }
  
  &__medium-right-half {
    float: left;
    width: 50%;
  }
  }
}