html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Signika', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  height: 100%;
}

.section_container{
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #40596b;
  padding: 18px;
}

.nav a {
  color: #ffd05a;
}

.nav a:hover {
  color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
}

li a {
  text-decoration: none;
  font-size: 20px;
  padding: 8px;
}

#features {
  min-height: 50vh;
  background-color: #90ddaa;
  padding: 1rem;
}

.title {
  width: auto;
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: lighter;
  position: relative;
  font-size: 2.5rem;
  letter-spacing: -.125rem;
  line-height: 1.25;
}

.title:after {
  background-color: #55c0ec;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 185px;
}

h3 {
  font-weight: 300;
  margin-top: 0;
}

.panel_container {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  flex-wrap: wrap;
  overflow: auto;
}

.panel_stretch {
  margin: 1rem;
}

.panel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-right: 8px;
  padding-right: 0px;
  margin-left: 8px;
}

.three_panels {
  flex: 1 0 calc(33.33333% - 2rem);
}

.card_img {
  width: 228px;
  margin: 4rem 0;
}

.card_top {
  background-color: #40596b;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.card_description {
  background-color: #fafafa;
  padding: 1rem;
  text-align: center;
}

code {
  background-color: rgba(0,0,0,.05);
  color: crimson;
  margin: 0;
  padding: .2rem;
  font-size: 15px;
}

@media (max-width: 400px) {
  .panel_container {
    display: block;
  }
}
