html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Signika', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  height: 100%;
}

#features {
  min-height: 50vh;
  background-color: #90ddaa;
}

.features_container{
  /*padding: 8px;*/
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: -.125rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  font-weight: lighter;
}

h3 {
  font-weight: 300;
}

.panel_container {
  display: flex;
  justify-content: space-between;
}

.panels {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 0 8px;
  width: 33.3%;
}

.card_img {
  width: 228px;
  margin: 4rem 0;
}

.card_top {
  background-color: #40596b;
  display:flex;
  align-items: center;
  justify-content: center;
}

.card_description {
  background-color: #fafafa;
  padding: 1rem;
}

code {
  background-color: rgba(0,0,0,.05);
  color: crimson;
  margin: 0;
  padding: .2rem;
  font-size: 15px;
}